@import "../components/base";

#header {
  height: 100px;
  width: 100%;
  background-color: $WhiteColor;
  position: relative;
  padding: 100px 1px 1px 15%;
  text-align: right;

  //makes the nav look like tabs
  .menu > ul > li{
    height: 31px;
    border: 1px solid black;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
    background-color: $WhiteColor;
    margin-right: 5px;
    border-bottom: none;
  }

  .menu > ul > li > a > span{
    color: $PoultryExchangeBlue;
  }

  .menu > ul > li.selected-tab{
    background-color: $PoultryExchangeBlue;
    > a > span{
      color: $WhiteColor;
    }
  }

  img.logo {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 300px;
  }
  .logout {
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .menuitemlabel {
    text-decoration: none;
    color: $PoultryExchangeBlue;
    font-weight: bold;
  }

  .menuitemlabel:hover span {
    color:$BrownColor;
    text-decoration: none;
  }

  li, #header .menuitemlabel {
    color: $BrownColor;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
  }

  .menuitemlabel:visited {
    color: $PoultryExchangeBlue;
    text-decoration: none;
  }

  .menu li {
    display: block;
    margin: 0;
    width: 150px;
    background-color: $WhiteColor;
  }
  .menu li span {
  }

  .menu li ul {
    padding-top: 10px;
  }

  .menu li ul li {
    border: 1px solid $PoultryExchangeBlue;
    padding-top: 10px;
    z-index: 100;
    display: inline;
    min-height: 45px;

  }

  .logout .username:before{
    content: "Welcome, ";
  }

  .logout span.username:after{
    content: " |";
  }
  .logout span{
    font-weight: bold;
    font-size: .9em
  }

}