@import "../components/base";

.user-roles .miwt{
  background-color: $WhiteColor;
  border: 1px solid $GreyBorder;
}

//For the roles page only
 .user-roles h1{
	font-weight: bold;
	font-size: 1.8em;
	margin: 50px 0 50px 6%;
  text-align: left;
}

.user-roles > div{
  padding-left: 6%;
  margin-bottom: 20px;
  position: relative;
}

.user-roles div > span {
  margin: 10px 30px 10px  0;
  min-width: 150px;
}

.user-roles input[type=checkbox]:checked + label{
  color: $PoultryExchangeBlue;
}
.user-roles .message-container > div > span.brief {
  display: inline-block;
  width: 100%;
  height:20px;
  margin: 0;
  padding: 0;
}
//This need media query for smaller screen
.user-roles > div .message-container{
  position: absolute;
  top: 60px;
  width: 450px;
}

#column2 .user-roles{
  padding-bottom: 60px;
  h2{
    margin-top: 45px;
  }
}
