@import "../../components/base";
.listing-viewer  .prop-body > div:first-child{
  position: relative;
}

.listing-viewer .prop-body {
  margin-left: 30px;
  margin-top: 20px;

  .prop:nth-child(-n+7) > *, .status > *, .listing-time > * {
    display: inline-block;
  }

  .prop:nth-child(-n+7), .stats, .listing-time {
    margin-bottom: .01rem;
  }
  .prop:nth-child(-n+7) > label, .status > label, .listing-time > label {
    width: 170px;
  }

  .prop:nth-child(-n+7) > label:after {
    content: ':';
  }

  .note {
	position: absolute;
	top: 0px;
	left: 350px;
	width: 26%;
	border: 1px solid #aaa;
	max-height: 360px;
	overflow-y: scroll;
  }

  .note .val p strong{
	font-weight: normal;
  }
  .note label:after {
    content: ":";
  }

  .status, .listing-time {
    position: absolute;
	left: 750px;
    padding-left: 20px;
  }

  .status {
    top: 0px;
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
    width: 350px;
    padding-top: 10px;

  }

  .listing-time {
    top: 30px;
    right: 10%;
  }

  //Interval Part
  .tab-content {
    .instructions {
      font-size: 1.1em;
    }

    .btn {
      width: auto;
      min-width: 0;
      margin-top: 10px;
    }
    .add {
      margin-bottom: 30px;
    }
    .select {
      border: 1px solid $PoultryExchangeBlue;
    }
    .add, .save, .edit {
      background-color: $PoultryExchangeBlue;
      color: $WhiteColor;
    }
    .select, .cancel {
      background-color: $WhiteColor;
      color: $PoultryExchangeBlue;
    }

    .select {
      margin-left: 10px;
    }

    .interval {
      display: flex;
      min-height: 200px;
      align-items: center;
      justify-content: space-between;;
      border: 1px solid #aaa;
      border-radius: 5px;
      margin-bottom: 25px;
      padding: 15px;
      position: relative;
      margin-left: 7%;

      //make all the buttons look good
      .up, .down {
        position: absolute;
        left: -7%;
      }
      .up {
        top: 22%;
        width: 100px;
      }
      .down {
        bottom: 27%;
      }
      .edit {
        width: 95px;
      }
      .actions .up {
        width: 85px !important;
      }

      .actions {
        display: flex;
        flex-direction: column;
      }
    }

  }
}





