@import "../components/base";

@media (max-width: 900px) {
  .enclosing{
	overflow: visible;
  }
  #header{
	padding:100px 1px 1px 1px;
  }
  #column1{
	margin-bottom: 0;
	width: 20%;
  }
  #column2{
	width: 80%;
  }
  #header > .menu,   #header > .menu > ul{
	width: 100%;
  }
}


@media (max-width: 768px)  {
  #column1, #column2{
	width: 100%;
  }
  #column1{
	padding-top: 0;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 0;
  }

  .breadcrumb_path ol{
	margin: auto;
  }

  #header > .menu,   #header > .menu > ul, #header > .menu > ul > li{
	width: 100%;
  }

  #header .mi {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $WhiteColor;
	width: 100%;
	border: 1px solid $GreyBorder;
	min-height: 45px;
	font-size: 1.2em;
  }
	#header > .menu > ul > li {
	border-radius: 10px;
	  border: 1px solid white;
	}
  #header .mi a{
	text-align: center;
	width: 100%;
  }


@media (max-width: 515px) {
  #column2 {
	padding: 0;
  }

}
}




